<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Boolean" value="true"/>
    <add key="Byte" value="0123"/>
    <add key="Char" value="a"/>
    <add key="Decimal" value="1.9"/>
    <add key="Double" value="2.9"/>
    <add key="Float" value="3.9"/>
    <add key="Int" value="4"/>
    <add key="Long" value="5"/>
    <add key="SByte" value="0123"/>
    <add key="Short" value="6"/>
    <add key="String" value="test"/>
    <add key="UInt" value="7"/>
    <add key="ULong" value="8"/>
    <add key="UShort" value="9"/>
  </appSettings>
</configuration>
