<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Boolean_Test_One" value="true"/>
    <add key="Byte_Test_One" value="0123"/>
    <add key="Char_Test_One" value="a"/>
    <add key="Decimal_Test_One" value="1.9"/>
    <add key="Double_Test_One" value="2.9"/>
    <add key="Float_Test_One" value="3.9"/>
    <add key="Int_Test_One" value="4"/>
    <add key="Long_Test_One" value="5"/>
    <add key="SByte_Test_One" value="0123"/>
    <add key="Short_Test_One" value="6"/>
    <add key="String_Test_One" value="test"/>
    <add key="UInt_Test_One" value="7"/>
    <add key="ULong_Test_One" value="8"/>
    <add key="UShort_Test_One" value="9"/>
  </appSettings>
</configuration>
